/*--------------------------------------
   Variables
--------------------------------------*/

// Notes...

$black: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

$blue: rgb(45, 92, 136);

$red: rgb(204, 0, 0);

$gray: rgb(102, 102, 102);

// rgb(51, 51, 51); // background, header background, footer-background

// rgb(34, 34, 34); // pre-footer background, h1-6 color

// rgb(204, 0, 0); // red, logo,

// rgb(45, 92, 136); // blue, top of dropdown in primary navigation, default color of links,

// rgb(225, 255 255); // horizontal rule, active navigation item, active submenu navigation item

// rgb(102, 102, 102); // default color of body text

// rgb(128, 128, 128); // navigation text
